<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<nav class="navbar navbar-fixed-top bg-dark d-block" data-bs-theme="dark" th:fragment="navbar">
    <div class="container">
        <div class="navbar-header">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand" th:href="@{/}">Edison JobTrigger</a>
        </div>
    </div>
    <div class="collapse bg-dark" id="navbarToggleExternalContent">
        <div class="container">
            <ul class="nav navbar-nav mr-auto ml-1">
                <li class="nav-item active">
                    <a class="nav-link" th:href="@{/}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="discover">Discover</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="triggers">Triggers</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="internal">Admin</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

</html>