<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Edison JobTrigger</title>

    <!-- Bootstrap -->
    <link href="webjars/bootstrap/4.6.0/css/bootstrap.min.css" rel="stylesheet" />

    <style>
        body { padding-top: 70px; }
    </style>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<!-- Fixed navbar -->
<nav class="navbar navbar-fixed-top navbar-dark bg-dark">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggler collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand" href="#">Edison JobTrigger</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav mr-auto ml-1">
                <li class="nav-item">
                    <a class="nav-link" href="index.html">Home</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="#">Discover</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="triggers">Triggers</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="internal">Admin</a>
                </li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>

<div class="container">

    <!-- Main component for a primary marketing message or call to action -->
    <div class="jumbotron">
        <p>
            Discover new job definitions:
        </p>
        <form action="discover" method="post">
            <button class="btn btn-lg btn-primary" type="submit">Discover &raquo;</button>
        </form>

    </div>
    <div class="jumbotron" th:each="env : ${environments}">
        <p>
            Services registered in <span th:text="${env.name}" />:
        </p>
        <div class="panel panel-default" th:each="service : ${env.services}">
            <!-- Default panel contents -->
            <div class="panel-heading">JobDefinitions from <span th:text="${service.name}" /></div>
            <!-- Table -->
            <table class="table">
                <tr>
                    <th>Job Type</th>
                    <th>Frequency</th>
                    <th>Description</th>
                </tr>
                <tr th:each="def : ${service.definitions}">
                    <td th:text="${def.jobType}">-</td>
                    <td th:text="${def.frequency}">-</td>
                    <td th:text="${def.description}">-</td>
                </tr>
            </table>
        </div>
    </div>

</div> <!-- /container -->

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="webjars/jquery/3.5.1/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="webjars/bootstrap/4.6.0/js/bootstrap.min.js"></script>
</body>
</html>
