<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Edison JobTrigger - Triggers</title>

    <link href="webjars/bootstrap/5.3.1/css/bootstrap.min.css" rel="stylesheet"/>

    <style>
        body {
            padding-top: 70px;
        }
    </style>

</head>
<body>

<div th:replace="~{../fragments/navbar  :: navbar}"/>

<div class="container">

    <div class="p-5 my-4 bg-body-tertiary rounded-3">

        <div th:if="${isStarted == true}">
            <form action="triggers/stop" method="post">
                <button class="btn btn-lg btn-primary" type="submit">Stop Triggering &raquo;</button>
            </form>
        </div>
        <div th:if="${isStarted == false}">
            <form action="triggers/start" method="post">
                <button class="btn btn-lg btn-primary" type="submit">Start Triggering &raquo;</button>
            </form>
        </div>
    </div>

    <div class="p-5 mb-4 bg-body-tertiary rounded-3">
        <div class="card w-100 mb-3 bg-danger-subtle" th:if="!${#lists.isEmpty(failed)}">
            <div class="card-body">
                <h5 class="card-title">Last failed triggers</h5>
                <div class="table-responsive">
                    <table class="table table-hover table-condensed">
                        <tr>
                            <th>&nbsp;</th>
                            <th>Time</th>
                            <th>JobType</th>
                            <th>Status</th>
                        </tr>
                        <tr th:each="f : ${failed}">
                            <td><span class="label label-danger">
                                <span class="glyphicon glyphicon-fire" aria-hidden="true"/></span>
                            </td>
                            <td th:text="${f.time}">-</td>
                            <td th:text="${f.job}">-</td>
                            <td th:text="${f.message}">-</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="p-5 mb-4 bg-body-tertiary rounded-3">
        <div class="card w-100 mb-3">
            <div class="card-body">
                <h5 class="card-title">Last triggers</h5>
                <div class="table-responsive">
                    <table class="table table-hover table-condensed">
                        <tr>
                            <th>&nbsp;</th>
                            <th>Time</th>
                            <th>JobType</th>
                            <th>Message</th>
                            <th>Details</th>
                        </tr>
                        <tr th:each="result : ${results}">
                            <td th:if="${result.state == 'OK'}"><span class="label label-success">
                            <span class="glyphicon glyphicon-ok" aria-hidden="true"/></span></td>
                            <td th:if="${result.state == 'FAILED'}"><span class="label label-danger">
                            <span class="glyphicon glyphicon-fire" aria-hidden="true"/></span></td>
                            <td th:if="${result.state == 'BLOCKED'}"><span class="label label-info">
                            <span class="glyphicon glyphicon-minus" aria-hidden="true"/></span></td>
                            <td th:text="${result.time}">-</td>
                            <td th:text="${result.job}">-</td>
                            <td th:text="${result.message}">-</td>
                            <td>
                                <button type="button" class="btn btn-xs btn-primary"
                                        th:attr="data-job-url=${result.location}"
                                        data-toggle="modal"
                                        data-target="#modalMessages">Show Messages &raquo;
                                </button>
                            </td>
                        </tr>
                    </table>
                    <nav>
                        <ul class="pagination d-flex justify-content-center">
                            <li class="page-item">
                                <a class="page-link" th:href="${prev}" href="#">
                                    <span aria-hidden="true">&laquo; Newer</span>
                                </a>
                            </li>
                            <li class="page-item">
                                <a class="page-link" th:href="${next}" href="#">
                                    <span aria-hidden="true">Older &raquo;</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>

        <div class="modal" id="modalMessages" tabindex="-1" role="dialog" aria-labelledby="Job Messages"
             aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">Messages</h4>

                    </div>
                    <div class="modal-body">
                        <div class="job-messages"></div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="webjars/jquery/3.7.1/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="webjars/bootstrap/5.3.3/js/bootstrap.min.js"></script>
<script>
    $('#modalMessages').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget);
        debugger
        var jobMessagesUrl = button.data('job-url');
        if (jobMessagesUrl === '#') {
            $('.job-messages').html('<div class="alert alert-info" role="alert">Job not triggered.</div>');
        } else {
            $('.job-messages').load(jobMessagesUrl + ' #job-messages');
        }
    })
</script>
</body>
</html>
