<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Edison JobTrigger - Triggers</title>

    <!-- Bootstrap -->
    <link href="webjars/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" />

    <style>
        body { padding-top: 70px; }
    </style>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<!-- Fixed navbar -->
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="index.html">Edison JobTrigger</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="index.html">Home</a></li>
                <li><a href="discover.html">Discover</a></li>
                <li class="active"><a href="triggers.html">Triggers</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="internal">Admin</a></li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>

<div class="container">

    <div class="jumbotron">

        <div th:if="${isStarted == true}">
            <form action="triggers/stop" method="post">
                <button class="btn btn-lg btn-primary" type="submit">Stop Triggering  &raquo;</button>
            </form>
        </div>
        <div th:if="${isStarted == false}">
            <form action="triggers/start" method="post">
                <button class="btn btn-lg btn-primary" type="submit">Start Triggering  &raquo;</button>
            </form>
        </div>
    </div>
    <div class="jumbotron">
        <p>
            Last Triggered Jobs:
        </p>
        <div class="panel panel-danger" th:if="!${#lists.isEmpty(failed)}">
            <div class="panel-heading">Last failed triggers</div>
            <div class="panel-body">
            </div>            <!-- Table -->
            <div class="table-responsive">
            <table class="table table-hover table-condensed">
                <tr>
                    <th>&nbsp;</th>
                    <th>Time</th>
                    <th>JobType</th>
                    <th>Status</th>
                </tr>
                <tr th:each="f : ${failed}">
                    <td><span class="label label-danger"><span class="glyphicon glyphicon-fire" aria-hidden="true"/></span></td>
                    <td th:text="${f.time}">-</td>
                    <td th:text="${f.job}">-</td>
                    <td th:text="${f.message}">-</td>
                </tr>
            </table>
            </div>
        </div>
        <div class="panel panel-primary">
            <div class="panel-heading">Last triggers</div>
            <div class="panel-body">
            </div>            <!-- Responsice Table -->
            <div class="table-responsive">
            <table class="table table-hover table-condensed">
                <tr>
                    <th>&nbsp;</th>
                    <th>Time</th>
                    <th>JobType</th>
                    <th>Message</th>
                    <th>Details</th>
                </tr>
                <tr th:each="result : ${results}">
                    <td th:if="${result.state == 'OK'}"><span class="label label-success"><span class="glyphicon glyphicon-ok" aria-hidden="true"/></span></td>
                    <td th:if="${result.state == 'FAILED'}"><span class="label label-danger"><span class="glyphicon glyphicon-fire" aria-hidden="true"/></span></td>
                    <td th:if="${result.state == 'BLOCKED'}"><span class="label label-info"><span class="glyphicon glyphicon-minus" aria-hidden="true"/></span></td>
                    <td th:text="${result.time}">-</td>
                    <td th:text="${result.job}">-</td>
                    <td th:text="${result.message}">-</td>
                    <td>
                        <button type="button" class="btn btn-xs btn-primary"
                                th:attr="data-job-url=${result.location}"
                                data-toggle="modal"
                                data-target="#modalMessages">Show Messages &raquo;</button>
                    </td>
                </tr>
                <tr>
                    <td colspan="5">
                        <nav>
                            <ul class="pager">
                                <li class="previous"><a th:href="${prev}" href="#"><span aria-hidden="true">&larr;</span> Newer</a></li>
                                <li class="next"><a th:href="${next}">Older <span aria-hidden="true">&rarr;</span></a></li>
                            </ul>
                        </nav>
                    </td>
                </tr>
            </table>
            </div>

            <!-- Modal -->
            <div class="modal" id="modalMessages" tabindex="-1" role="dialog" aria-labelledby="Job Messages" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h4 class="modal-title">Messages</h4>

                        </div>
                        <div class="modal-body">
                            <div class="job-messages"></div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                    <!-- /.modal-content -->
                </div>
                <!-- /.modal-dialog -->
            </div>
            <!-- /.modal -->

        </div>


    </div>

</div> <!-- /container -->

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="webjars/jquery/1.11.1/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="webjars/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script>
    $('#modalMessages').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget);
        debugger
        var jobMessagesUrl = button.data('job-url');
        if (jobMessagesUrl === '#') {
            $('.job-messages').html('<div class="alert alert-info" role="alert">Job not triggered.</div>');
        } else {
            $('.job-messages').load(jobMessagesUrl + ' #job-messages');
        }
    })
</script>
</body>
</html>
